@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

/* Defaults */
:root {
    --font-family: "Fira Code", monospace;
    --font-family-monospace: "Fira Code", monospace;
    --chw: 0.6rem; /* Character Width */
}

/* Theme colors */
:root {
    --color-gray-20: #e0e0e0;
    --color-gray-50: #c0c0c0;
    --color-gray-90: #333;
    --ruler-color: #B0BEC5;

    --background-color: #F5F5F5;

    --text-color: var(--color-gray-90);
    --text-color-link: #00838F;
    --text-color-link-active: #5f2b48;
    --text-color-link-visited: #00838F;
    --text-color-muted: #90A4AE;

    --text-color-accent: #f4511e;

    --syntax-tab-size: 2;

    --callout-background-color: color-mix(in srgb, #263238, #000 20%);
    --callout-border-color: #78909C;
}

/* Only support dark colors for now */
/* @media (prefers-color-scheme: dark) { */
    :root {
        --color-gray-20: #e0e0e0;
        --color-gray-50: #c0c0c0;
        --color-gray-90: #dad8d8;
        --ruler-color: #455a64;

        /* --text-color is assigned to --color-gray-_ above */
        --text-color-link: #00acc1;
        --text-color-link-active: #26c6da;
        --text-color-link-visited: #00acc1;
        --text-color-muted: #546e7a;

        --text-color-accent: #f4511e;

        --background-color: #263238;
    }
    /* } */

/* Gruvbox colors */
:root {
    --gruvbox-bg_h: #1d2021;
    --gruvbox-bg0:  #282828;
    --gruvbox-bg_s: #32302f;
    --gruvbox-bg1:  #3c3836;
    --gruvbox-bg2:  #504945;
    --gruvbox-bg3:  #665c54;
    --gruvbox-bg4:  #7c6f64;

    --gruvbox-fg0: #fbf1c7;
    --gruvbox-fg1: #ebdbb2;
    --gruvbox-fg2: #d5c4a1;
    --gruvbox-fg3: #bdae93;
    --gruvbox-fg4: #a89984;

    --gruvbox-red:    #fb4934;
    --gruvbox-green:  #b8bb26;
    --gruvbox-yellow: #fabd2f;
    --gruvbox-blue:   #83a598;
    --gruvbox-purple: #d3869b;
    --gruvbox-aqua:   #8ec07c;
    --gruvbox-gray:   #928374;
    --gruvbox-orange: #fe8019;

    --gruvbox-red-dim:    #cc2412;
    --gruvbox-green-dim:  #98971a;
    --gruvbox-yellow-dim: #d79921;
    --gruvbox-blue-dim:   #458588;
    --gruvbox-purple-dim: #b16286;
    --gruvbox-aqua-dim:   #689d6a;
    --gruvbox-gray-dim:   #a89984;
    --gruvbox-orange-dim: #d65d0e;
}



/* Global stylesheet */
* {
    box-sizing: border-box;
}

@view-transition {
    navigation: auto;
}

html,
body {
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;

    scrollbar-color: #90A4AE #37474F;
}
html {
    overflow-y: scroll;
}
body {
    max-width: calc(80 * var(--chw));
    width: calc(100vw - (2 * var(--chw)));
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
    max-width: 100%;
}
img[width][height] {
    height: auto;
}
img[src$=".svg"] {
    width: 100%;
    height: auto;
    max-width: none;
}
video,
iframe {
    width: 100%;
    height: auto;
}
iframe {
    aspect-ratio: 16/9;
}

p:last-child {
    margin-bottom: 0;
}
p {
    line-height: 1.5;
    margin: 1em 0;
}

li {
    line-height: 1.5;
}

a[href] {
    color: var(--text-color-link);
}
a[href]:visited {
    color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
    color: var(--text-color-link-active);
}

ul {
    padding: 0;
    padding-left: calc(var(--chw) * 2);
}
ul li {
    list-style: "* ";
    &::marker {
        color: var(--text-color-muted);
    }
}

main {
    padding: 1rem 0;
}
main :first-child {
    margin-top: 0;
}

header {
    border-bottom: 1px solid var(--ruler-color);
}
footer {
    text-align: right;
    border-top: 1px solid var(--ruler-color);
    color: var(--text-color-muted);
    padding-top: 1em;
}

#skip-link {
    text-decoration: none;
    background: var(--background-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-gray-90);
    border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
    position: absolute;
    top: 1rem;
    left: 1rem;
    /* Ensure it is positioned on top of everything else when it is shown */
    z-index: 999;
}

ul.links-nextprev {
    display: flex;
    justify-content: space-between;
    gap: 0.5em 1em;
    list-style: "";
    border-top: 1px dashed var(--ruler-color);
    padding: 1em 0 0;

    li {
        list-style: "";
    }
}
.links-nextprev > * {
    flex-grow: 1;
}
.links-nextprev-next {
    text-align: right;
}

table {
    margin: 1em 0;
}
table td,
table th {
    padding-right: 1em;
}

pre,
code {
    font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
    margin: 0.5em 0;
    line-height: 1.5;
    -moz-tab-size: var(--syntax-tab-size);
    -o-tab-size: var(--syntax-tab-size);
    tab-size: var(--syntax-tab-size);
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    overflow-x: auto;
}
code {
    word-break: break-all;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.home-link {
    flex-grow: 1;
    font-size: 1.4em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1em;
    color: var(--text-color-accent);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--chw);

    a[href],
    a[href]:link,
    a[href]:visited {
        color: inherit;
    }
}
.home-link > a:link:not(:hover) {
    text-decoration: none;
}

/* Nav */
.nav {
    display: flex;
    gap: 0.5em 1em;
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
}
.nav-item a[href]:not(:hover) {
    text-decoration: none;
}
.nav a[href][aria-current="page"] {
    text-decoration: underline;
}

/* Posts list */
.postlist {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 0;
}
ul.postlist li {
    list-style: none;
}
.postlist-item {
    align-items: baseline;
}
.postlist-date,
.postlist-item:before {
    font-size: 1em; /* 13px /16 */
    color: var(--color-gray-90);
}
.postlist-date {
    color: var(--text-color-muted);
}
.postlist-date {
}
.postlist-link {
    font-size: 1em; /* 19px /16 */
    font-weight: 700;
    text-underline-position: from-font;
    text-underline-offset: 0;
    text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
    font-weight: bold;
}

.post-title {
    /* TODO: use non-monospace font, as we're breaking size anyways? */
    font-size: 2em;
    font-weight: 700;
    margin: 1rem 0;
}

.post-content {
    margin: 1em 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--text-color-accent);
        margin-top: 1.5rem;
        /* border-bottom: solid 1px #37474F; */

        &:before {
            color: var(--text-color-muted);
        }
    }

    h1:before {
        content: "> ";
    }
    h2:before {
        content: ">> ";
    }
    h3:before {
        content: ">>> ";
    }
    h4:before {
        content: ">>>> ";
    }
    h5:before {
        content: ">>>>> ";
    }
    h6:before {
        content: ">>>>>> ";
    }

    code {
        color: #90A4AE;
    }

    .note, .info, .success, .warning, .danger {
        padding: .5em calc(var(--chw) * 1);
        margin: 1em 0;
        background: var(--callout-background-color);
        border: solid 1px var(--callout-border-color);

        > h1,h2,h3,h4,h5,h6 {
            color: var(--text-color);
            margin: 0;
            padding: 0;
        }
    }
    .note, .info, .success, .warning, .danger {
        &::before {
            content: "NOTE";
            background: var(--callout-border-color);
            border-color: var(--callout-border-color);
            color: var(--text-color);
            display: block;
            margin: -.5em calc(var(--chw) * -1) .5em;
            padding: 0 calc(var(--chw) * 1);
            text-align: left;
        }
    }

    .note {
        &::before {
            content: "[*] NOTE";
            background: #37474F;
        }
        border-color: #37474F;
    }
    .info {
        &::before {
            content: "[?] INFO";
            background: #01579B;
        }
        border-color: #01579B;
    }
    .success {
        &::before {
            content: "[✔] SUCCESS";
            background: #2E7D32;
        }
        border-color: #2E7D32;
    }
    .warning {
        &::before {
            content: "<!> WARNING";
            background: #FFC107;
            color: #000;
        }
        border-color: #FFC107;
    }
    .danger {
        &::before {
            content: "[!] DANGER";
            background: #C62828;
        }
        border-color: #C62828;
    }
}

/* Tags */
.post-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}
.postlist-item > .post-tag {
    align-self: center;
}

/* Tags list */
ul.post-metadata {
    color: var(--text-color-muted);
    display: inline-flex;
    flex-wrap: wrap;
    gap: calc(var(--chw) * 1);
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}
.post-metadata time {
    margin-right: 0;
}

.text-muted {
    color: var(--text-color-muted);
}

.marker-draft {
    background: #FFC107;
    color: #F44336;
    padding: .2rem var(--chw);
    font-weight: 700;
}
