/**
 * Gruvbox dark theme
 *
 * Adapted from a theme based on:
 * Vim Gruvbox dark Theme (https://github.com/morhetz/gruvbox)
 *
 * @author Azat S. <to@azat.io>
 * @version 1.0
 */

code[class*="language-"],
pre[class*="language-"] {
	color: var(--fg1);
	font-family: Consolas, Monaco, "Andale Mono", monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
	color: #fbf1c7; /* fg0 */
	background: #7c6f64; /* bg4 */
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	color: #fbf1c7; /* fg0 */
	background: #7c6f64; /* bg4 */
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #1d2021; /* bg0_h */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.cdata {
	color: #a89984; /* fg4 / gray1 */
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #fb4934; /* red2 */
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: var(--bg4);
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #fabd2f; /* yellow2 */
}

.token.entity,
.token.number,
.token.symbol {
	color: #d3869b; /* purple2 */
}

.token.property,
.token.constant,
.token.variable {
	color: #fb4934; /* red2 */
}

.token.string,
.token.char {
	color: #b8bb26; /* green2 */
}

.token.attr-value,
.token.attr-value .punctuation {
	color: var(--bg4); /* fg4 / gray1 */
}

.token.url {
	color: #b8bb26; /* green2 */
	text-decoration: underline;
}

.token.function {
	color: #fabd2f; /* yellow2 */
}

.token.regex {
	background: #b8bb26; /* green2 */
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #a89984; /* fg4 / gray1 */
}

.token.deleted {
	background: #fb4934; /* red2 */
}


/*** CUSTOM *********************************************************/

:root {
    --bg_h: #1d2021;
    --bg0:  #282828;
    --bg_s: #32302f;
    --bg1:  #3c3836;
    --bg2:  #504945;
    --bg3:  #665c54;
    --bg4:  #7c6f64;

    --fg0: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;

    --red:    #fb4934;
    --green:  #b8bb26;
    --yellow: #fabd2f;
    --blue:   #83a598;
    --purple: #d3869b;
    --aqua:   #8ec07c;
    --gray:   #928374;
    --orange: #fe8019;

    --red-dim:    #cc2412;
    --green-dim:  #98971a;
    --yellow-dim: #d79921;
    --blue-dim:   #458588;
    --purple-dim: #b16286;
    --aqua-dim:   #689d6a;
    --gray-dim:   #a89984;
    --orange-dim: #d65d0e;
}

code[class*="language-"],
pre[class*="language-"] {
    scrollbar-color: var(--bg4) var(--bg0);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    border: solid 1px var(--bg0);
}

.token.comment,
.token.prolog,
.token.cdata {
	color: var(--aqua-dim);
}
