/*
    Name: Smashing HTML5
    Date: July 2009
    Description: Sample layout for HTML5 and CSS3 goodness.
    Version: 1.0
    Author: Enrique Ramírez
    Autor URI: http://enrique-ramirez.com
*/

/* Imports */
@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");

/* Fonts */
/*@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin);*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);


/***** Global *****/
/* Body */
body {
    /*background: #F5F4EF;*/
    /*color: #000305;*/
    color: #eee;
    font-size: 14px; /* Base font size: 14px */
    /*font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-family: "Droid Sans", helvetica, arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;

    background: #111;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #111),
        color-stop(0.6, #333)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #111 0%,
        #333 60%
    );
}

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: .8em;
    /*font-family: 'Yanone Kaffeesatz', arial, serif;*/

    color: #333;

}

#featured h1 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: normal;
    font-size: 4em;
}

article header {
    margin-bottom: 5px;
}

article header h1 {
    border-bottom: dotted 1px rgba(0,0,0,.2);
    margin-bottom: 3px;
    font-family: 'Luckiest Guy', cursive;
    font-weight: normal;
    font-size: 3em;
}

h3, h4, h5, h6 { margin-top: .8em; }

hr { border: 2px solid #EEEEEE; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    text-decoration: none;
    color: #333;
}

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
    color: hsl(220,100%,40%);
    /*padding: 0 1px;*/
    text-decoration: underline;
}
a:hover, a:active {
    /*background-color: #C74350;*/
    color: hsl(220,100%,50%);
    text-decoration: none;
    /*text-shadow: 1px 1px 1px #333;*/
}

h1 a:hover {
    background-color: inherit
}

/* Paragraphs */
p {margin-bottom: 1.143em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
    list-style: outside disc;
    margin: 1em 0 1.5em 1.5em;
}

ol {
    list-style: outside decimal;
    margin: 1em 0 1.5em 1.5em;
}

/*
.post-info {
    float:right;
    margin: 0 10px;
    padding:10px;
    background: #fff;
    border-radius: 10px;
}
*/

.post-info {
    font-size: 80%;
    opacity: .8;
    /*text-align: right;*/
}

.post-info *{
    display: inline;
}

.readmore { float: right }

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre {
    background-color: #111;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
    overflow: auto;
    border-radius: 10px;
}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

    /* Thead */
    thead th {padding: .5em .4em; text-align: left;}
    thead td {}

    /* Tbody */
    tbody td {padding: .5em .4em;}
    tbody th {}

    tbody .alt td {}
    tbody .alt th {}

    /* Tfoot */
    tfoot th {}
    tfoot td {}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
    display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 960px;}
img.right, figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: left; margin: 0 2em 2em 0;}

/*
    Header
*****************/
#banner {
    margin: 0 auto;
    /*padding: 2.5em 0 0 0;*/
    background: #222;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    /* Banner */
    #banner h1 {
        font-size: 3.5em;
        margin:0;
        padding: 30px;
        /*background: #222;*/
        /*font-family: 'Architects Daughter', arial, serif;*/
        /*padding: 0 2em;*/
        /*line-height: 30px;*/
        /*line-height: 0;*/
    }
    #banner h1 a:link, #banner h1 a:visited {
        /*color: #000305;*/
        /*color: hsl(20,100%,50%);*/
        color: #fff;
        display: block;
        font-weight: normal;
        /*margin: 0 0 .6em .2em;*/
        text-decoration: none;

    }
    #banner h1 a:hover, #banner h1 a:active {
        background: none;
        /*color: #C74350;*/
        text-shadow: none;
    }

    #banner h1 strong {font-size: 0.36em; font-weight: normal;}

    /* Main Nav */
    #banner nav {
        background: #000305;
        font-size: 1.143em;
        height: 40px;
        line-height: 30px;
        margin: 0 auto 2em auto;
        padding: 0;
        text-align: center;
        width: 960px;

        /*border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;*/

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #banner nav ul {list-style: none; margin: 0 auto; width: 960px;}
    #banner nav li {float: left; display: inline; margin: 0;}

    #banner nav a:link, #banner nav a:visited {
        color: #fff;
        display: inline-block;
        height: 30px;
        padding: 5px 1.5em;
        text-decoration: none;
    }
    #banner nav a:hover, #banner nav a:active,
    #banner nav .active a:link, #banner nav .active a:visited {
        /*background: #C74451;*/
        color: #fff;
        text-shadow: none !important;
    }

    #banner nav li:first-child a {
        border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;

        border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-bottom-left-radius: 5px;
    }

/*
    Featured
*****************/
#featured {
    background: #fffcf7;
    color: #333;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    /*width: 920px;*/

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#featured figure {
    border: 2px solid #eee;
    float: right;
    margin: 0.786em 2em 0 5em;
    width: 248px;
}
#featured figure img {display: block; float: right;}

/*#featured h2 {
    color: hsl(220, 100%, 40%);
    font-size: 1.714em;
    margin-bottom: 0.333em;
}*/
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}

/*
    Body
*****************/
#content {
    background: #fff9ed;
    color: #333;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px 20px;
    /*width: 920px;*/

    border-radius: 10px;
    /*-moz-border-radius: 10px;*/
    /*-webkit-border-radius: 10px;*/

    width: 100%;
}

.content-wrapper {
    width: 960px;
    margin: 0 auto;
}

.column-content{
    width: 660px;
    display: inline-block;
}
.column-sidebar{
    width: 240px;
    float: right;
}
#sidebar {
    padding: 20px;
    background: #222;
    color: #fff;
    border-radius: 10px;
}
#sidebar h1,
#sidebar h2,
#sidebar h3,
#sidebar h4,
#sidebar h5,
#sidebar h6 {
    color: #eee;
    font-family: 'Luckiest Guy', cursive;
    font-weight: normal;
    margin-bottom: 2px;
}
#sidebar a {
    color: #eee;
}
#sidebar .menu-tags a {
    color: #888;
}
#sidebar .menu-tags a:hover {
    color: #fff;
}
#sidebar .block {
    margin-bottom: 10px;
}

/*
    Extras
*****************/
#extras {
    color: #fff;
    margin: 0 auto 20px auto;
    overflow: hidden;
    width: 920px;
    background: #080808;
    border-radius: 10px;
    padding: 20px;
}


#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #333;}
#extras h2 {
    color: #444;
    font-size: 1.429em;
    margin-bottom: .25em;
    padding: 0 3px;
}

#extras a:link, #extras a:visited {
    color: #ccc;
    display: block;
    /*border-bottom: 1px solid #444;*/
    text-decoration: none;
    padding: .3em .25em;
}

#extras a:hover, #extras a:active {color: #fff;}

    /* Blogroll */
    #extras .blogroll {
        float: left;
        width: 615px;
    }

    #extras .blogroll li {float: left; margin: 0 20px 0 0; width: 185px;}

    /* Social */
    #extras .social {
        float: right;
        width: 175px;
    }

    .social,
    .social li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .social a {
        background-repeat: no-repeat;
        background-position: 3px 6px;
        padding-left: 25px;
        display: block;
        line-height: 24px;
    }

        /* Icons */
        .social a[href*='delicious.com'] {background-image: url('../images/icons/delicious.png');}
        /*.social a[href*='digg.com'] {background-image: url('../images/icons/digg.png');}*/
        .social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png');}
        .social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../images/icons/lastfm.png');}
        .social a[type$='atom+xml'], .social a[type$='rss+xml'] {background-image: url('../images/icons/rss.png');}
        .social a[href*='twitter.com'] {background-image: url('../images/icons/twitter.png');}
        .social a[href*='linkedin.com'] {background-image: url('../images/icons/linkedin.png');}
        .social a[href*='gitorious.org'] {background-image: url('../images/icons/gitorious.png');}
        .social a[href*='gittip.com'] {background-image: url('../images/icons/gittip.png');}

/*
    About
*****************/
#about {
    /*background: #fff9ed;*/
    background: #000;
    color: #eee;
    /*color: #333;*/
    font-style: normal;
    /*margin-bottom: 2em;*/
    margin-bottom: 0;
    overflow: hidden;
    padding: 20px;
    text-align: left;
    width: 920px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
/*    -moz-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;*/


}
#about a {
    color: hsl(220,100%,80%);
}

#about .primary {float: left; width: 165px;}

#about .primary strong {
    /*color: hsl(20, 100%, 40%);*/
    display: block;
    font-size: 1.286em;
}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}

/*
    Footer
*****************/
#contentinfo {
    /*padding-bottom: 2em;*/
    text-align: right;
}

/***** Sections *****/
/* Blog */
.hentry {
    display: block;
    clear: both;
    /*border-bottom: 1px solid #eee;*/
    padding: 1.5em 0;
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}
.hentry img{display : none ;}
.entry-title {font-size: 3em; margin-bottom: 10px; margin-top: 0;}
.entry-title a:link, .entry-title a:visited {text-decoration: none; color: #333;}
.entry-title a:visited {background-color: #fff;}

.hentry .post-info * {font-style: normal;}

    /* Content */
    /*.hentry footer {margin-bottom: 2em;}
    .hentry footer address {display: inline;}
    #posts-list footer address {display: block;}*/

    /* Blog Index */
    #posts-list {list-style: none; margin: 0;}
    #posts-list .hentry {padding-left: 10px; position: relative;}

    /*#posts-list footer {
        left: 10px;
        position: relative;
        float: left;
        top: 0.5em;
        width: 190px;
    }*/

    /* About the Author */
    #about-author {
        background: #f9f9f9;
        clear: both;
        font-style: normal;
        margin: 2em 0;
        padding: 10px 20px 15px 20px;

        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    #about-author strong {
        /*color: hsl(20,100%,40%);*/
        clear: both;
        display: block;
        font-size: 1.429em;
    }

    #about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}

    /* Comments */
    #comments-list {list-style: none; margin: 0 1em;}
    #comments-list blockquote {
        background: #f8f8f8;
        clear: both;
        font-style: normal;
        margin: 0;
        padding: 15px 20px;

        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    #comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}

    #comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}

    /* Add a Comment */
    #add-comment label {clear: left; float: left; text-align: left; width: 150px;}
    #add-comment input[type='text'],
    #add-comment input[type='email'],
    #add-comment input[type='url'] {float: left; width: 200px;}

    #add-comment textarea {float: left; height: 150px; width: 495px;}

    #add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}

    #add-comment input[type='submit'] {float: right; margin: 0 .5em;}
    #add-comment * {margin-bottom: .5em;}


.menu-vertical,
.menu-vertical li {
    list-style: disc;
}
.menu-vertical li a {
    color: #fff;
    text-decoration: none;
    display: block;
}
.menu-tags {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-tags li {
    display: inline;
}
.menu-tags li a {
    text-decoration: none;
}

.cool-date {
    background: #fff;
    display: inline-block;
    /*border: solid 1px #aaa;*/
    box-shadow: rgba(0,0,0,.2) 2px 2px 6px;
}
.cool-date .year {
    background: #800;
    color: #fff;
    font-weight: bold;
}
.cool-date .day,
.cool-date .year,
.cool-date .wday,
.cool-date .month {
    display: block;
    text-align: center;
    padding: 2px;
    margin: 0;
    line-height: 1em;
}
.cool-date .day {
    font-size: 200%;
}
article header .cool-date {
    float: right;
    font-size: 80%;
    width: 60px;
    margin-right: 10px;
}
