@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "style/variables";


$horiz-bar-color: $gray-700;


.site-header {

    .title {
        border-bottom: solid 1px $horiz-bar-color;
        font-size: 2em;
        font-weight: bold;
        text-shadow: #000 3px 3px;
        a {
            text-decoration: none;
        }
    }

    .subtitle {
        font-style: italic;
        text-align: right;

        a {
            color: $gray-600;
            &:hover {
                color: $white;
            }
        }
    }
}


.site-content {
    margin: 20px 0;
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.site-footer {
    border-top: solid 1px $horiz-bar-color;
    text-align: right;
    color: $gray-600;
}
