{# -*- engine: jinja -*- #}
{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
    {% if articles %}

        {% for article in articles_page.object_list %}

            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                               title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                    </span>
                    <div>{{ article.summary }}</div>
                    <!-- <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a> -->
                    {#% include 'comments.html' %#}
                    {% include 'article_infos.html' %}
                </div>
            </div>

        {% endfor %}

        <div style="text-align: center">
            {% include 'pagination.html' %}
        </div>

{% else %}
        <section id="content" class="body">
            <h2>Pages</h2>
            <ul>
	        {% for page in PAGES %}
	            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
	        {% endfor %}
            </ul>
        </section>
    {% endif %}
{% endblock content %}
