@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700|Inconsolata|Material+Icons');


@import "materialize/components/mixins";
@import "materialize/components/color";

$primary-color: color('orange', 'darken-3');
$primary-color-light: color('orange', 'darken-2');
$link-color: color('orange', 'accent-3');

$h1-fontsize: 3.8rem;
$h2-fontsize: 3rem;
$h3-fontsize: 2.6rem;
$h4-fontsize: 2rem;
$h5-fontsize: 1.64rem;
$h6-fontsize: 1rem;

$page-background: #333;
$card-bg-color: color('grey', 'darken-4');
$off-black: color('grey', 'lighten-5');

$site-title-font: 'Roboto Condensed', sans-serif;
$title-font: 'Roboto Condensed', sans-serif;

@import "materialize/materialize";
@import "pygment";


@mixin striped-background($base, $col1, $col2, $size: 40px) {
    background-color: $base;
    color: darken($base, 70%);

    background-image:
            linear-gradient(rgba($col2, 0), $col2 100%),
            linear-gradient(
                45deg,
                $col1 25%,
                $col2 25%, $col2 50%,
                $col1 50%,
                $col1 75%,
                $col2 75%, $col2);

    background-size: 100% 100%, $size $size;
}


html {
    background-color: $page-background;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    font-family: $title-font;
}

p {
    padding: .5em 0;
}

.note {
    padding: .5em 1em;
    background: #111;
    > .admonition-title {
        font-weight: bold;
    }
}

#site-header {
    background: #111;
    padding-top: 24px;
}

h1.site-title {
    margin: 0;
    padding: 0;
    font-size: 120px;
    font-family: $site-title-font;
    font-weight: 700;
    line-height: 110px;
    width: 960px;
    margin: 0 auto;
    text-shadow: rgba(0,0,0,.7) 1px 1px 3px;

    a:link, a:visited {
                display: block;
		color: #ccc;
                text-decoration: none;

            }
    a:hover, a:active {
                 background: none;
                 text-shadow: none;
                 color: #fff;
             }
    strong {
        font-size: 0.36em;
        /* font-weight: normal; */
    }
}

nav.site-nav {
    @include striped-background(#f50, lighten(#f50, 10%), #f50);
    a {
        color: #111;
    }
}

.menu-tags > li {
    display: inline;
}

.literal-block {
    background: #111;
    color: #ddd;
    padding: .5em 1em;
    @extend .z-depth-1;
}

.card-title > h1,
.card-title > h2,
.card-title > h3 {
    margin-top: 0;
    > a {
        color: $off-black;
    }
}

.card .card-image .card-title {
    color: $off-black;
    background-color: rgba(0,0,0,.7);
    width: 100%
}

.article-info {
    opacity: .6;
    margin-top: 1em;
    margin-bottom: 0;
    border-top: solid 1px #444;
    padding-top: .5em;
}
